.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.login-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px var(--shadow-color);
    width: 100%;
    max-width: 400px;
}

.dark-mode .login-card {
    background-color: var(--gray-bg);
}
